<div class="p-3 m-0 border-0 registration-form-container">
  <form [formGroup]="registrationForm"
        (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" name="name" class="form-control" formControlName="name">
      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
           class="alert">

        <div class="text-danger" *ngIf="name?.errors?.['required']">
          Name is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" id="email" name="email" class="form-control" formControlName="email">
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
           class="alert">

        <div class="text-danger" *ngIf="email?.errors?.['required']">
          Email is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" name="password" class="form-control" formControlName="password">
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
           class="alert">

        <div class="text-danger" *ngIf="password?.errors?.['required']">
          Password is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" formControlName="confirmPassword">
      <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)"
           class="alert">

        <div class="text-danger" *ngIf="confirmPassword?.errors?.['required']">
          Confirm Password is required.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
