<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <i class="fas fa-house-user fa-2x"></i>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">Common Frontend App</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" *ngIf="!loggedIn" routerLink="/login">Login</button>
        <button type="button" class="btn btn-outline-light me-2" *ngIf="loggedIn" (click)="logoutClick($event)">Logout</button>
        <button type="button" class="btn btn-light" *ngIf="!loggedIn" routerLink="/register">Sign-up</button>
      </div>
    </div>
  </div>
</header>
