.top {
  color: red;
  margin:auto;
  height: 100px;
  width: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.middle {
  margin:auto;
  height: 115px;
  width: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom {
  margin:auto;
  height: 300px;
  width: 500px;
  border: 2px solid black;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}
