<div class="my-2 top" *ngIf="!loggedIn"><h1 class="display-1">NOT</h1></div>
<div class="my-2 middle"><h1 class="display-1">Logged In</h1></div>
<div class="my-2 p-3 bottom" *ngIf="loggedIn">
  <p><span class="fw-bold">Display Name: </span> {{userModel?.name}}</p>
  <p><span class="fw-bold">Email: </span> {{userModel?.email}}</p>
  <p><span class="fw-bold">User Id: </span> {{userModel?.id}}</p>
  <p><span class="fw-bold">Jwt Token: </span> {{userModel?.jwtToken}}</p>
</div>
