<div class="p-3 m-0 border-0 login-form-container">
  <form [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
    <div *ngIf="invalidLogin" class="alert alert-danger" role="alert">
      Invalid email or password.
    </div>
    <div class="mb-3 form-group">
      <label for="email" class="form-label">Email address</label>
      <input type="email" id="email" name="email" class="form-control" formControlName="email">
    </div>
    <div class="mb-3 form-group">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <button type="submit" class="btn btn-dark me-2" [disabled]="!loginForm.valid">Login</button>
    <button type="submit" class="btn btn-outline-dark" routerLink="/register">Sign-up</button>
  </form>
</div>
